.App {
  font-family: "Caveat", cursive;
}

.App header {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}

.App header h1 {
  display: inline;
  padding-left: 20px;
}

.App footer {
  font-size: 24px;
}
